<div id="user_<%= user.id %>_profile">
<% if friendship %>
  <% if friendship.status == 'accepted' %>

    <%= button_to "Unfriend", remove_friend_path(user.id), method: :delete, data: { controller: "authenticity"}, class: "px-6 py-2 rounded-full bg-red-400 text-white font-bold border border-red-500" %>

  <% else %>

    <% if friendship.status == 'pending' %>

      <% if friendship.requestor_id == user.id %>
        <%= button_to "Accept Request", accept_request_path(user.id), data: { controller: "authenticity"}, class: "px-6 py-2 rounded-full bg-green-400 text-white font-bold border border-green-500" %>
      <% else %>
        <%= button_to "Cancel Request", cancel_request_path(user.id), method: :delete, data: {controller: "authenticity"}, class: "px-6 py-2 rounded-full bg-red-400 text-white font-bold border border-red-500" %>
      <% end %>

    <% end %>
  <% end %>

<% else %>

  <%= button_to "Add Friend", add_friend_path(user.id), data: { controller: "authenticity"}, class: "px-6 py-2 rounded-full bg-green-400 text-white font-bold border border-green-500" %>

<% end %>

</div>  
