<%= render partial: 'shared/top_bar', locals: {heading: "Search"} %>
<div class="p-2">
  <%= form_with url: users_search_path, method: :get, data: {turbo_frame:"search_result", turbo_action: 'advance', controller: 'search', action: 'input->search#submit'} do |f| %>
    <div class="flex items-center" id="search_input">

      <%= link_to root_path, data: {turbo_frame: "_top", turbo_action: "advance", search_target: "searchExitIcon", action: "click->search#exit"} do %>
        <%= evil_icon "ei-chevron-left", class: '!hidden pointer-events-none'%>
      <% end %>

      <%= f.text_field :query, data: {action: "focus->search#focus"}, class: 'text-base rounded-full w-full py-2 px-4 border-none outline-none resize-none border-transparent focus:border-transparent focus:ring-0 bg-gray-200', placeholder: 'Search people' %>
    </div>
  <% end %>
</div>
<%= turbo_frame_tag "search_result" do %>
  <% if @results.any? %>
  <% @results.each do |item| %>

    <% if current_user.friend? item %>
    <%= link_to conversation_path(current_user.friendship(item.id).id), data: {turbo_frame: '_top', turbo_action: "advance"} do %>
      <div class="flex items-center p-4 w-full gap-2 cursor-pointer hover:bg-gray-200 ">
        <% if item.avatar_url %>
          <%= image_tag item.avatar_url, class: "rounded-full h-auto w-8" %>
        <% else %>
          <div class="font-bold text-white rounded-full h-8 w-8 bg-gray-500 text-center flex items-center justify-center"><%= item.email[0].upcase %></div>
        <% end %>
        <div class='flex flex-col'>
          <span>
            <%= item.full_name %>
            <%= render "friend_tag" %>
          </span>
          <span class="text-xs">
            <%= item.email %>
          </span>
        </div>
      </div>
    <% end %>
      
    <% else %>
      <%= link_to profile_path(item.id), data: {turbo_frame: '_top', turbo_action: "advance"} do %>
        <div class="flex items-center p-4 w-full gap-2 cursor-pointer hover:bg-gray-200 ">
          <% if item.avatar_url %>
            <%= image_tag item.avatar_url, class: "rounded-full h-auto w-8" %>
          <% else %>
          <div class="font-bold text-white rounded-full h-8 w-8 bg-gray-500 text-center flex items-center justify-center"><%= item.email[0].upcase %></div>
          <% end %>
          <div class='flex flex-col'>
            <span>
              <%= item.full_name %>
              <% if current_user == item %>
                <%= render "you_tag" %>
              <% end %>
            </span>
            <span class="text-xs">
              <%= item.email %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="w-full p-4">
    <span>No users found</span>
  </div>
  <% end %>
<% end %>
