<%= turbo_frame_tag "chat_box", class: 'w-full flex justify-center' do %>
<div class="w-full min-h-screen p-4 sm:w-80 md:w-96 bg-white shadow-lg">
  <div class="w-full flex justify-between">
    <%= turbo_frame_tag "user_profile", target: '_top' do %>
      <%= link_to :back, data: {turbo_action: 'advance', turbo_frame: "_top"} do %>
        <div class="flex justify-center items-center">
          <span>Back</span>
        </div>
      <% end %>
    <% end %>
    <span class="font-bold text-lg">User Info</span>
    <span>Edit</span>
  </div>
  <div class="w-full flex justify-center items-center flex-col py-10 gap-4 text-center">
    <% if @user.avatar_url %>
      <%= image_tag @user.avatar_url, class: "rounded-full h-auto w-24 border border-gray-200 shadow-lg" %>
    <% else %>
      <div class="rounded-full h-24 w-24 border border-gray-200 shadow-lg bg-gray-200 flex items-center justify-center">
        <span class="text-4xl font-bold"><%= @user.email[0].upcase %></span>
      </div>
    <% end %>
    <div class="leading-[0.5]">
      <h1 class="font-bold text-2xl"><%= @user.full_name %></h1>
      <span class="text-sm"><%= @user.email %></span>
    </div>
  </div>
  <% if @user.id != @current_user.id %>
    <%= turbo_stream_from "user_#{current_user.id}_show" %>
    <div class="w-full flex justify-center">
      <%= render partial: 'user', locals: { user: @user, friendship: @friendship } %>
    </div>
  <% end %>
</div>
<% end %>

