<div class='w-full h-screen flex'>
  <%= turbo_frame_tag "chat_box" do %>
  <section class="side-bar w-full h-full border-r border-r-gray-200 absolute bg-white shadow-lg">
    <div class="py-2 border-y border-y-gray-200 px-4">
      <div class="flex justify-between items-center">
        <h1 class="font-bold text-2xl">Chats</h1>
        <div data-controller="user-dropdown" data-user-dropdown-target="dropdownIcon" data-action="click->user-dropdown#toggle" class="cursor-pointer relative">
          <%= evil_icon 'ei-user', size: 'm', class: 'hover:bg-gray-100 rounded-full pointer-events-none'%>
          <div class="hidden absolute w-56 bg-white top-full right-0 border border-gray-200 rounded-xl shadow-lg cursor-default" data-user-dropdown-target="dropdownDiv">
            <%= link_to profile_path(current_user.id), data: {turbo: false} do %>
              <div class="w-full p-4 border-b border-gray-200 cursor-pointer hover:bg-gray-100">
                <span>Profile</span>
              </div>
            <% end %>
            <%= link_to destroy_user_session_path, data: {turbo: false } do %>
              <div class="w-full p-4 cursor-pointer hover:bg-gray-100">
                <span>Logout</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 ">
      <input class="text-sm rounded-full w-full py-2 px-4 border-none outline-none resize-none border-transparent focus:border-transparent focus:ring-0 bg-gray-200" placeholder="Search for messages"/>
    </div>
    <div>
      <% @friends.each do |friendship| %>
        <%= render partial: 'friend_sidebar', locals: {friendship: friendship, friend: friendship.requestor_id == current_user.id ? friendship.recipient : friendship.requestor, last_message: friendship.messages.last} %>
      <% end %>
    </div>
  </section>
  <% end %>
  <section class="grow xs:hidden">
    <%= turbo_frame_tag "chat_box" do %>
      <div class="w-full bg-slate-300 h-full flex items-center justify-center">
        <p class="text-2xl font-bold text-gray-500">Select a chat</p>
      </div>
    <% end %>
  </section>
</div>
