<div class='w-full h-screen flex'>
  <%= turbo_frame_tag "chat_box" do %>
  <section class="side-bar w-full h-full border-r border-r-gray-200 absolute shadow-lg">
    <%= render 'shared/top_bar' %>
    <div class="p-2 ">
      <%= render "search_input" %>
    </div>
    <%= turbo_frame_tag "search_result" do %>
      <div>
        <% @friends.each do |friendship| %>
          <%= render partial: 'friend_sidebar', locals: {friendship: friendship, friend: friendship.requestor_id == current_user.id ? friendship.recipient : friendship.requestor, last_message: friendship.messages.last} %>
        <% end %>
      </div>
    <% end %>
  </section>
  <% end %>
  <section class="grow xs:hidden">
    <%= turbo_frame_tag "chat_box" do %>
      <div class="w-full h-full flex items-center justify-center">
        <p class="text-2xl font-bold text-gray-500">Select a chat</p>
      </div>
    <% end %>
  </section>
</div>
