<div class='w-full h-screen bg-white'>
  <%= turbo_frame_tag "chat_box", class:"flex justify-center h-full" do %>
  <section class="side-bar w-full h-full border-r border-r-gray-200 absolute shadow-lg sm:w-80 md:w-96 bg-white ">
    <%= render 'shared/top_bar' %>
    <div class="p-2 ">
      <%= render "search_input" %>
    </div>
    <%= turbo_frame_tag "search_result" do %>
      <div>
        <% @friends.each do |friendship| %>
          <%= render partial: 'friend_sidebar', locals: {friendship: friendship, friend: friendship.requestor_id == current_user.id ? friendship.recipient : friendship.requestor, last_message: friendship.messages.last} %>
        <% end %>
      </div>
    <% end %>
  </section>
  <% end %>
</div>
