<div class="h-screen max-h-screen w-full flex justify-center">
<div class="h-screen  max-h-screen sm:w-80 md:w-96 relative bg-white shadow-lg">
<%= turbo_frame_tag 'chat_box' do %>
  <section class="w-80 md:w-96 h-16 bg-white fixed block top-0 drop-shadow-md flex items-center px-4">
    <%= link_to root_path, data: {turbo_action: 'advance'}, class: 'flex items-center' do %>
      <%= evil_icon "ei-chevron-left", size: 's' %>
    <% end %>
    <%= link_to profile_path(@friend.id), data: {turbo_action: 'advance', turbo_frame: "_top"} do %>
      <span class='font-bold'><%= @friend.full_name %></span>
    <% end %>
  </section>
  <div data-controller="chatbox" class="w-full sm:w-80 md:w-96 h-full flex flex-col">
    <%= turbo_stream_from "friendship_#{@friendship.id}_#{current_user.id}_conversation" %>
    <div class="flex flex-col justify-end h-[90%]" >
      <div class="max-h-full overflow-y-scroll" data-chatbox-target="chatBoxDiv" id="chatbox" data-action="DOMNodeInserted->chatbox#scrollIntoView">
        <% @messages.each do |message| %>
          <%= render partial: 'message', locals: {message: message, user: current_user} %>
        <% end %>
      </div>
    </div>
    <div class="min-h-[10%] p-4 flex items-center">
      <div class="w-full">
        <%= form_with model: @message, method: :post, url: send_message_path, data: {action: "turbo:submit-start->chatbox#reset", chatbox_target: 'form'} do |f| %>
          <%= f.hidden_field :sender_id, value: current_user.id %>
          <%= f.hidden_field :receiver_id, value: @friend.id %>
          <%= f.hidden_field :friendship_id, value: @friendship.id %>
          <div class='w-full flex items-center gap-2'>
            <%= f.text_area :body, rows:1, placeholder: 'Type a message', class: 'w-full bg-gray-200 p-4 rounded-lg border-none outline-none resize-none border-transparent focus:border-transparent focus:ring-0', data: {chatbox_target: 'textArea', action: 'keydown.enter->chatbox#submitOnEnter'}  %>
            <button type="submit">
              <div class="font-bold h-8 w-8 rounded-full bg-yellow-400 flex items-center justify-center">
                <%= evil_icon "ei-chevron-right"  %>
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>
