<div class='w-full flex flex-col gap-4 items-center min-h-screen justify-center'>
  <h1 class="font-bold text-4xl">Log in</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="flex flex-col gap-4">
      <%= render partial: "devise/shared/email_input", locals: {f: f} %>
      <%= render partial: "devise/shared/password_input", locals: {f:f} %>

      <% if devise_mapping.rememberable? %>
        <%= render partial: 'devise/shared/checkbox', locals: {f:f} %>
      <% end %>

      <%= render partial: 'devise/shared/submit', locals: {f:f, label: "Login"} %>
    </div>
  <% end %>

  <div class="text-center flex flex-col w-full px-10 gap-4">
    <%= render "devise/shared/links" %>
  </div>
</div>

